
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    padding-top: 20px ;
    padding-left: 100px;
    padding-right: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}

.caixa-texto {
    width: 600px;
       
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 180px;
}

.menu {
    display: flex;
    justify-content: center;
    
}

.logo {
    width: 80px;
    margin-bottom: 200px;
}

.starbucks{
    width: 340px;
    z-index: 2;
    cursor: pointer;
}

.copo-pequeno {
    width: 60px;
    cursor: pointer;
    transition: 1s;

}

.copo-pequeno:hover {
    transform: translateY(-35px);
}

h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 0.569px;

}

h2 {
    font-weight: 400;
    font-size: 52px;
    line-height: 55px;
    letter-spacing: 0.569px;
    margin-top: 30px;

}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
    
}

p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.569px;
    margin-top: 20px;
    margin-bottom: 30px;

}

button {
    border-radius: 20px;
    background: #017143;
    border-color: #008255;
    color: #fff;
    width: 120px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    
}


@media screen and (max-width: 1244px){

body {
    flex-direction: column;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.conteudo {
    width: 300px;
    display: flex;
    align-items: center;
    
}

.caixa-texto {
    width: 200px;
    justify-content: start;
       
}

.caixa-imagem {
    width: 200px;
    
}

.logo {
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
    
}

span {
    font-size: 35px;
    font-weight: 400;
}

p{
    display: none;
}

button {
    margin-top: 20px;
}

.circulo {
    clip-path: circle(210px at right 450px);
    z-index: -1;
}

.starbucks{
    width: 150px;
    margin-right: auto;
    z-index: 2;
   
}
.menu {
    margin-top: 20px;
}

}
    
